:root {
  --white: #fff;
  --black: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --white: #000;
    --black: #fff;
  }
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  margin: 0;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote {
  max-width: 75%;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0.25em 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.25em 0;
  text-align: right;
}